/* CSS Document */

body {
	margin: 0px;
	padding: 0px;
	color: #978a71;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	line-height: 1.5em; 
	background-image: url(images/Website-Blue-Background1.png);
	background-repeat: repeat;
  }
  
  /*heading panel*/
.panel-heading
{
	height:155px;
	background:#33FFFF;
	background-repeat: inherit;
}
.panel-body
{
	margin-top:-20px;
	height:700px;
	background-color: #99CCCC;
}
#size
{
margin-top:-15px;
margin-left:-15px;
height:700px;
width:200px;
background:#666666;
}